.stubContainer {

  margin: 10px;

  .projectStub {

    outline: 1px solid black;

    width: 250px;
    height: 125px;

    cursor: pointer;
    color: black;

    padding: 10px;

    h3 {
      font-size: 12pt;
      font-weight: 400;
      margin: 0;
    }

    div {

      p {
        font-weight: 300;
      }

      div {
        display: flex;
        flex-direction: row;
      }
    }
  }
}