.projectStub {

  outline: 1px solid black;
  width: 350px;
  height: 150px;

  cursor: pointer;
  color: black;

  padding: 10px;

  h3 {
    font-size: 16pt;
    font-weight: 400;
    margin: 0;
  }

  div {

    p {
      font-weight: 300;
    }

    div {
      display: flex;
      flex-direction: row;
    }
  }
}