.footer {

  border-top: 1px solid black;
  margin-top: 50px;
  padding: 20px;

  align-items: center;
  text-align: center;

  a {

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 24px;
      margin: 5px;
    }
  }
}