.showcaseDetails {

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: space-between;

  .back {

    height: min-content;
    margin: auto;

    a {
      margin: auto;
      padding: 10px;

      border: 1px solid #1695f6;
      border-radius: 5px;

      box-shadow: 0 1px 3px #565656;

      color: #1695f6;

      transition: 0.2s;

      &:hover {
        color: #1171ba;
        box-shadow: 0 2px 3px #565656;
      }

      &:active,
      &:focus {
        color: #097cd4;
        box-shadow: 0 3px 3px #565656;
      }
    }

  }

  .links {

    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }

  div {
    margin: 10px;


    /*
    &:nth-of-type(2) {
      margin-right: 25px;
    }

     */


    &:nth-of-type(n + 2) {
      flex: 1 1 0;
    }


    h4 {
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }

    p, a, li {
      font-weight: 300;
    }

    a {
      color: #1695f6;
      transition: 0.2s;

      display: flex;

      &:hover {
        color: #1171ba;
      }

      &:active,
      &:focus {
        color: #097cd4;
      }
    }

    img {

      opacity: 0.6;
      transition: 0.1s;

      margin: auto;
      max-height: 48px;

      &:hover { opacity: 0.8 }
      &:active,
      &:focus { opacity: 1 }
    }

    ul {
      margin: 0;
      padding-left: 25px;
      list-style: circle;
    }
  }
}