.home {

    $offset: 30px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left !important;

    max-width: 1200px;
    margin: auto;

    * {
        margin: 0;
        font-weight: 300;
        font-size: 14pt;
    }

    &, div {
        padding: $offset;
    }

    h1 span, h2 span {
        vertical-align: middle;
    }


    h1 {
        font-size: 24pt;
        margin-top: $offset * 0.75;
    }

    h2 {
        font-size: 18pt;
    }

    div, .left {
        padding: 0 0 0 $offset;
    }


    .left { margin-right: 5px; }
    .right { margin-left: 5px; }

    p {
        font-weight: 200;
        margin-top: $offset;
    }

    li {

        font-weight: 200;
        list-style: none;

        span {
            padding: 0 !important;
        }
    }

    .hrdiv {

        display: flex;
        flex-direction: row;

        margin-top: $offset;
        margin-bottom: $offset;

        .left { padding: 0; }

        hr {
            flex: 1;
            height: 1px;
            margin: auto 15px;
        }
    }
}
