$offset: 30px;

$content-weight: 200;
$meta-weight: 100;
$emphasis-weight: 400;

@media screen and (max-width: 800px) {
    $offset: 10px;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    cursor:default;
}

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 800px) {
        * {
            font-size: 12pt;
        }
    }

    max-width: 1200px;
    padding-top: 20px;

}


.article, .body, .div, .head, .html {
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left !important;

    // margin: $offset * 2 auto auto auto;

    * {
        margin: 0;
        font-weight: $meta-weight;
        font-size: 14pt;


        h1 span, h2 span {
            vertical-align: middle;
        }
    }

    strong {
        font-weight: $emphasis-weight;
    }

    p {
        font-weight: $content-weight;
        // margin-top: $offset;
        line-height: 1.5;
    }


    h1 {
        font-size: 32pt;
        font-weight: $content-weight;
    }

    h2 {
        font-size: 18pt;
        font-weight: $content-weight;
    }

    // h1, h2 { font-weight: $emphasis-weight; }

    margin: 0;
    padding: 0 0 0 $offset;

}


.outer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hr {

    display: flex;
    flex-direction: row;

    margin-top: 5px;
    margin-bottom: 5px;

    padding: 0 !important;

    .left { padding: 0; }

    hr {
        flex: 1;
        height: 1px;
        margin: auto 15px;
    }

}

.span {

    @include no-select;

    font-weight: $meta-weight;
    font-size: 14pt;
}


.left { margin-right: 10px; }
.right { margin-left: 10px; }
.left, .right {
    @include no-select;
}

.meta {
    span { @include no-select; }

    :nth-child(2n+1) { margin-right: 10px; }
}

.p {

    display: flex;
    flex-direction: row;

    margin-top: 10px;
    margin-top: 10px;

    span {
        margin-top: auto;
        margin-bottom: auto;
    }

    * {
        text-align: justify;
    }
}

.ul {
    padding-left: $offset;

    li, a { font-weight: $emphasis-weight; }
    li {

        list-style: none;
    
        span {
            padding: 0 !important;
        }
    }
}


.article p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
