.showcaseDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.showcaseDetails .back {
  height: min-content;
  margin: auto;
}
.showcaseDetails .back a {
  margin: auto;
  padding: 10px;
  border: 1px solid #1695f6;
  border-radius: 5px;
  box-shadow: 0 1px 3px #565656;
  color: #1695f6;
  transition: 0.2s;
}
.showcaseDetails .back a:hover {
  color: #1171ba;
  box-shadow: 0 2px 3px #565656;
}
.showcaseDetails .back a:active, .showcaseDetails .back a:focus {
  color: #097cd4;
  box-shadow: 0 3px 3px #565656;
}
.showcaseDetails .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.showcaseDetails div {
  margin: 10px;
  /*
  &:nth-of-type(2) {
    margin-right: 25px;
  }

   */
}
.showcaseDetails div:nth-of-type(n + 2) {
  flex: 1 1 0;
}
.showcaseDetails div h4 {
  margin-bottom: 5px;
}
.showcaseDetails div p {
  margin: 0;
}
.showcaseDetails div p, .showcaseDetails div a, .showcaseDetails div li {
  font-weight: 300;
}
.showcaseDetails div a {
  color: #1695f6;
  transition: 0.2s;
  display: flex;
}
.showcaseDetails div a:hover {
  color: #1171ba;
}
.showcaseDetails div a:active, .showcaseDetails div a:focus {
  color: #097cd4;
}
.showcaseDetails div img {
  opacity: 0.6;
  transition: 0.1s;
  margin: auto;
  max-height: 48px;
}
.showcaseDetails div img:hover {
  opacity: 0.8;
}
.showcaseDetails div img:active, .showcaseDetails div img:focus {
  opacity: 1;
}
.showcaseDetails div ul {
  margin: 0;
  padding-left: 25px;
  list-style: circle;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.headerDiv p {
  margin: auto;
  padding: 0 60px;
  flex: 1;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .headerDiv {
    flex-direction: column;
  }
  .headerDiv p {
    padding: 0;
    margin: 5px 0 10px 0;
    text-align: left;
  }
}

.mainTextContainer {
  font-weight: 300;
  font-size: 17pt;
  padding: 0 50px 50px 50px;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .mainTextContainer {
    padding: 0;
    margin: 20px auto;
  }
}

.showcasePreviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .showcasePreviews {
    flex-direction: column;
  }
}

.content .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.content .header h1 {
  font-size: 32pt;
}
.content .header p {
  margin: auto;
  padding: 0 60px;
  flex: 1;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .content .header {
    flex-direction: column;
  }
  .content .header p {
    padding: 0;
    margin: 5px 0 10px 0;
    text-align: left;
  }
}
.content .details {
  display: flex;
  flex-direction: row;
}
.content .details div {
  flex: 1 1 0;
}

.markdownBlock {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .markdownBlock {
    flex-direction: column;
  }
}
.markdownBlock h3 {
  flex: 1 1 0;
}
.markdownBlock p {
  flex: 2 1 0;
  text-align: justify;
  line-height: 1.5;
  font-weight: 300;
}
.markdownBlock em {
  font-weight: 600;
  font-style: normal;
}

/*# sourceMappingURL=Project.module.css.map */
