#resume h1,
#resume h2,
#resume h3,
#resume h4 {
  font-weight: 300;
}
#resume * {
  font-family: "Inter", sans-serif;
}
#resume p,
#resume li {
  font-weight: 200;
}
#resume header {
  margin: 25px auto 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#resume header a {
  flex: 1 1 0;
  padding: 7px;
  margin: 5px;
  text-align: center;
  border: 1px solid #222222;
  border-radius: 2px;
  font-weight: 300;
  font-size: 10pt;
  color: #222222;
  transition: all 0.15s;
}
#resume header a:hover {
  color: #454545;
  border-color: #454545;
}
#resume header a:active {
  color: #b5b5b5;
  border-color: #b5b5b5;
}
@media screen and (max-width: 900px) {
  #resume header {
    flex-direction: column;
  }
}

.college {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
.college > div {
  flex: 1 1 0;
  margin: 10px auto 10px 30px;
}
.college > div h3,
.college > div h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.college > div h3,
.college > div h4 {
  margin: 0;
}
.college > div h3 {
  font-size: 14pt;
}
.college > div h4 {
  font-size: 12pt;
}
.college div:last-of-type {
  flex: 0;
  text-align: right;
  word-break: keep-all;
  line-break: strict;
}
.college div:last-of-type p {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}
.college div:last-of-type p:last-child {
  font-style: italic;
  font-weight: 200;
}
@media screen and (max-width: 800px) {
  .college {
    margin: 0;
  }
  .college a,
.college img {
    display: none;
  }
  .college div {
    margin-left: 0;
  }
}
.college ~ div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .college ~ div {
    flex-direction: column;
  }
}
.college ~ div h2 {
  flex: 0 0 calc(30% - 10px);
}
.college ~ div h2 + div {
  flex: 0 0 calc(70% - 10px);
}
.college ~ div .courseListsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.college ~ div .courseListsContainer * {
  width: max-content;
  margin: 0;
}
.college ~ div .courseListsContainer h3 {
  margin-top: 20px;
  margin-right: 0;
}
.college ~ div .courseListsContainer ul {
  margin: 10px 0 0 0;
}
.college ~ div .courseListsContainer ul li {
  margin: 0;
  padding: 0;
  font-size: 9pt;
}
.college ~ div .courseListsContainer ul li a {
  margin: 0;
  padding: 0;
  font-size: 9pt;
}
.college ul {
  margin: 0;
}
.college ul li {
  font-size: 10pt;
}
.college a,
.college img {
  cursor: pointer;
}
.college img {
  border-radius: 50%;
  max-width: 64px;
  max-height: 64px;
}
@media screen and (min-width: 800px) {
  .college img {
    margin-left: 5%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
}
.header div {
  flex-direction: column;
  margin: 15px 0 0 auto;
  text-align: right;
  width: max-content;
}
.header div h3,
.header div h4 {
  margin: 0.2em 0 auto auto;
}
.header div h3 {
  font-size: 11pt;
}
.header div h4 {
  font-weight: 200;
  font-size: 10pt;
  font-style: italic;
}
@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    text-align: left;
  }
  .header h3 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .header *,
.header div,
.header div * {
    margin: 5px auto 10px 0;
    text-align: left;
  }
}

.section .title {
  display: flex;
  flex-direction: row;
}
.section .title h1 {
  font-size: 18pt;
  font-style: italic;
}
.section .title hr {
  flex: 1;
  height: 1px;
  margin: auto;
  border: 0;
}
.section .title hr:first-of-type {
  margin-right: 10px;
  background-image: linear-gradient(to right, #333, #707070);
}
.section .title hr:last-of-type {
  margin-left: 10px;
  background-image: linear-gradient(to right, #707070, #333);
}
.section .content {
  margin-top: 20px;
  margin-left: 50px;
}
@media screen and (max-width: 800px) {
  .section .content {
    margin-left: 10px;
  }
}
.section .content > div:not(:first-of-type) {
  border-top: 1px solid black;
}
.section .content > div:last-of-type {
  margin-bottom: 50px;
}

.employment ul {
  margin-top: 20px;
}
.employment ul li {
  font-size: 12pt;
}
.employment > div {
  flex: 1;
  word-break: break-word;
}
.employment > div:not(:first-of-type) {
  border-top: 1px solid black;
}
.employment .header * {
  margin-bottom: 0;
}
.employment .header h3 {
  font-size: 16pt;
}

/*# sourceMappingURL=Resume.module.css.map */
