.pdf {
  margin: 10px;
  padding: 10px;
  display: grid;
  place-items: end;
}
.pdf button {
  width: 40%;
  padding: 7px 15px;
  margin: auto;
  text-align: center;
  display: block;
  border: 1px solid #222222;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;
  transition: all 0.15s;
}
.pdf button:hover {
  color: #454545;
  border-color: #454545;
}
.pdf button:active {
  color: #b5b5b5;
  border-color: #b5b5b5;
}

.container {
  padding-bottom: 30px;
}
.container * {
  font-family: "Inter", sans-serif;
}
.container p, .container li {
  font-weight: 200;
}
.container h1, .container h2, .container h3, .container h4 {
  font-weight: 300;
}
.container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.container > div:nth-child(n+3) {
  border-top: 1px solid black;
}
@media screen and (max-width: 800px) {
  .container > div:nth-child(n+3) {
    flex-direction: column;
  }
}
.container > div:not(:first-of-type) {
  margin-left: 50px;
}
.container > div:first-of-type {
  display: flex;
  flex-direction: row;
}
.container > div:first-of-type h1 {
  font-size: 18pt;
  font-style: italic;
}
.container > div:first-of-type hr {
  flex: 1;
  height: 1px;
  margin: auto;
  border: 0;
}
.container > div:first-of-type hr:first-of-type {
  margin-right: 10px;
  background-image: linear-gradient(to right, #333, #707070);
}
.container > div:first-of-type hr:last-of-type {
  margin-left: 10px;
  background-image: linear-gradient(to right, #707070, #333);
}
.container > div h2 {
  flex: 0 0 calc(30% - 10px);
}
.container > div h2 + div {
  flex: 0 0 calc(70% - 10px);
}
.container ul {
  margin: 0;
}
.container ul li {
  font-size: 10pt;
}
.container a, .container img {
  cursor: pointer;
}
.container img {
  border-radius: 50%;
  max-width: 64px;
  max-height: 64px;
}
@media screen and (min-width: 800px) {
  .container img {
    margin-left: 5%;
  }
}
.container .courseListsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .courseListsContainer * {
  width: max-content;
  margin: 0;
}
.container .courseListsContainer h3 {
  margin-top: 20px;
  margin-right: 0;
}
.container .courseListsContainer ul {
  margin: 10px 0 0 0;
}
.container .courseListsContainer ul li a {
  font-size: 9pt;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
}
.header div {
  flex-direction: column;
  margin: 15px 0 0 auto;
  text-align: right;
  width: max-content;
}
.header div h3, .header div h4 {
  margin: 0.2em 0 auto auto;
}
.header div h3 {
  font-size: 11pt;
}
.header div h4 {
  font-weight: 200;
  font-size: 10pt;
  font-style: italic;
}

#certificateHeader {
  text-align: left;
  margin: 10px auto auto 0;
}
#certificateHeader h3 {
  font-size: 16pt;
}
#certificateHeader h4 {
  font-size: 14pt;
  font-style: normal;
  font-weight: 300;
}

.workContainer {
  display: flex;
  flex-direction: column;
}
.workContainer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}
.workContainer > div:not(:first-of-type) {
  border-top: 1px solid black;
}
.workContainer .header * {
  margin-bottom: 0;
}
.workContainer .header h3 {
  font-size: 16pt;
}

.college_info {
  justify-content: space-between;
}
.college_info > div {
  flex: 1 1 0;
  margin: 10px auto 10px 30px;
}
.college_info > div h3, .college_info > div h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.college_info > div h3, .college_info > div h4 {
  margin: 0;
}
.college_info > div h3 {
  font-size: 14pt;
}
.college_info > div h4 {
  font-size: 12pt;
}
.college_info div:last-of-type {
  flex: 0;
  text-align: right;
  word-break: keep-all;
  line-break: strict;
}
.college_info div:last-of-type p {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}
.college_info div:last-of-type p:last-child {
  font-style: italic;
  font-weight: 200;
}
@media screen and (max-width: 1000px) {
  .college_info {
    margin: 0;
  }
}

/*# sourceMappingURL=Resume.module.css.map */
